* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 15px;
  margin: 1.5rem;
}
.images {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}
